<form [formGroup]="fiscalCalendarForm" class="max-w-2xl mx-auto">
    <div>
        <h1 class="text-bisque text-xl font-bold">Agregar Fecha Fiscal</h1>
    </div>

    <div class="grid grid-cols-2 gap-4 pt-4">
        <div class="mb-2">
            <label class="block my-2 text-base font-bold text-bisque" for="name">
                Nombre<span class="text-burnt-umber">*</span>
            </label>
            <input id="name" formControlName="name" type="text"
                class="bg-crater-brown border-2 border-zorba text-bisque text-base rounded-md block w-full p-2 placeholder:text-zorba focus:outline-none focus:border-golden-glow"
                placeholder="Nombre de la notificación">

            @if (fiscalCalendarForm.controls['name'].invalid && (fiscalCalendarForm.controls['name'].dirty ||
            fiscalCalendarForm.controls['name'].touched)) {
            <div class="min-h-[1.5rem]">
                @if (fiscalCalendarForm.controls['name'].errors?.['required'] &&
                (fiscalCalendarForm.controls['name'].dirty || fiscalCalendarForm.controls['name'].touched)) {
                <p class="text-burnt-umber text-sm">El nombre es obligatorio</p>
                }
                @if (fiscalCalendarForm.controls['name'].errors?.['maxlength'] &&
                (fiscalCalendarForm.controls['name'].dirty || fiscalCalendarForm.controls['name'].touched)) {
                <p class="text-burnt-umber text-sm">El nombre no puede exceder los 100 caracteres</p>
                }
            </div>
            }
        </div>

        <div class="mb-2">
            <label class="block my-2 text-base font-bold text-bisque" for="date">
                Fecha Límite<span class="text-burnt-umber">*</span>
            </label>
            <input id="date" formControlName="date" type="date"
                class="bg-crater-brown border-2 border-zorba text-bisque text-base rounded-md block w-full p-2 placeholder:text-zorba focus:outline-none focus:border-golden-glow">

            @if (fiscalCalendarForm.controls['date'].invalid && (fiscalCalendarForm.controls['date'].dirty ||
            fiscalCalendarForm.controls['date'].touched)) {
            <div class="min-h-[1.5rem]">
                @if (fiscalCalendarForm.controls['date'].invalid &&
                (fiscalCalendarForm.controls['date'].dirty || fiscalCalendarForm.controls['date'].touched)) {
                <p class="text-burnt-umber text-sm">La fecha y hora son obligatorias</p>
                }
            </div>
            }
        </div>

        <div class="mb-2 col-span-2">
            <label class="block my-2 text-base font-bold text-bisque" for="type">
                Tipo<span class="text-burnt-umber">*</span>
            </label>
            <select id="type" formControlName="type"
                class="bg-crater-brown border-2 border-zorba text-bisque text-base rounded-md block w-full p-2.5 placeholder:text-zorba focus:outline-none focus:border-golden-glow">
                <option [value]="''" disabled selected>Seleccione un tipo</option>
                @for (type of notificationTypes; track type.value) {
                <option [value]="type.value">{{type.label}}</option>
                }
            </select>

            @if(fiscalCalendarForm.controls['type'].invalid && (fiscalCalendarForm.controls['type'].dirty ||
            fiscalCalendarForm.controls['type'].touched)) {
            <div class="min-h-[1.5rem]">
                @if (fiscalCalendarForm.controls['type'].invalid &&
                (fiscalCalendarForm.controls['type'].dirty || fiscalCalendarForm.controls['type'].touched)) {
                <p class="text-burnt-umber text-sm">El tipo es obligatorio</p>
                }
            </div>
            }
        </div>

        <div class="mb-3 col-span-2">
            <label class="block mb-2 text-base font-bold text-bisque" for="description">
                Descripción<span class="text-burnt-umber">*</span>
            </label>
            <textarea id="description" formControlName="description" rows="3"
                class="bg-crater-brown border-2 border-zorba text-bisque text-base rounded-md block w-full p-2 placeholder:text-zorba focus:outline-none focus:border-golden-glow"
                placeholder="Descripción detallada de la notificación"></textarea>

            @if(fiscalCalendarForm.controls['description'].invalid && (fiscalCalendarForm.controls['description'].dirty
            || fiscalCalendarForm.controls['description'].touched)) {
            <div class="min-h-[1.5rem]">
                @if (fiscalCalendarForm.controls['description'].errors?.['required'] &&
                (fiscalCalendarForm.controls['description'].dirty ||
                fiscalCalendarForm.controls['description'].touched)) {
                <p class="text-burnt-umber text-sm">La descripción es obligatoria</p>
                }
                @if (fiscalCalendarForm.controls['description'].errors?.['maxlength'] &&
                (fiscalCalendarForm.controls['description'].dirty ||
                fiscalCalendarForm.controls['description'].touched)) {
                <p class="text-burnt-umber text-sm">La descripción no puede exceder los 500 caracteres</p>
                }
            </div>
            }
        </div>

        <div class="col-span-2 flex justify-center items-center w-full">
            <button (click)="callSave()" [disabled]="fiscalCalendarForm.invalid"
                class="bg-flamenco text-bisque py-1 px-3 rounded-md cursor-pointer disabled:bg-burnt-umber disabled:opacity-80 disabled:cursor-not-allowed disabled:text-bisque font-bold hover:bg-golden-glow hover:text-flamenco transition-colors"
                type="button">{{isEditMode ? 'Actualizar' : 'Guardar'}}</button>

            @if (cancelOption) {
            <button (click)="callCancel()"
                class="bg-golden-glow text-crater-brown py-1 px-3 rounded-md cursor-pointer ml-2 font-bold hover:bg-bisque transition-colors"
                type="button">Cancelar</button>
            }
        </div>
    </div>
</form>