@defer {
<div class="p-4">
  <div class="pb-2 justify-between flex flex-row items-end">
    <h1 class="text-lg text-crater-brown font-bold">{{title}}</h1>
    <div class="flex items-center bg-crater-brown rounded-md px-2 py-1">
      <span class="material-symbols-rounded text-2xl pr-2 text-bisque">
        search
      </span>
      <input (keyup)="search($event)" type="text"
        class="bg-crater-brown text-bisque placeholder:text-bisque text-base font-bold w-full" placeholder="Buscar">
    </div>
  </div>

  <div>
    <app-user-list (callModalAction)="callEdition($event)" (callDeleteAction)="userService.delete($event)"
      [users]="userService.users$()" />
    @if(userService.users$().length) {
    <app-pagination [service]="userService" />
    }
  </div>
</div>
} @loading (minimum 1.5s){
<app-loader></app-loader>
}

<ng-template #addUsersModal>
  <app-modal [hideFooter]="true">
    <div>
      <app-user-form [userForm]="userForm" (callSaveMethod)="saveUser($event)" (callUpdateMethod)="updateUser($event)"
        [cancelOption]="true" (callCancelMethod)="cancelUpdate()" />
    </div>
  </app-modal>
</ng-template>