<div [ngClass]="[backgroundColor, 'p-6 rounded-md h-full flex flex-col justify-center items-center']">
    <div class="w-fit">
        <div class="flex flex-row space-x-2 mb-2">
            @for(icon of icons; track $index) {
            <span class="material-symbols-rounded {{iconsColor}} text-4xl">{{icon}}</span>
            }
        </div>
        <h5 [ngClass]="[textColor, 'font-black mb-2 text-2xl w-full text-left']">
            {{title}}
        </h5>
        <p [ngClass]="[textColor, 'text-sm 2xl:text-base font-normal']">
            {{description}}
        </p>
        <div class="flex flex-row space-x-2 mt-4">
            @if(firtButtonText != "") {
            <button
                [ngClass]="[firstButtonBackgroundColor, firstButtonTextColor, 'px-4 py-2 rounded-md font-bold text-lg']"
                routerLink="{{'/app/'+ firstButtonRoute}}">
                {{firtButtonText}}
            </button>
            }
            @if(secondButtonText != "") {
            <button
                [ngClass]="[secondButtonBackgroundColor, secondButtonTextColor, 'px-4 py-2 rounded-md font-bold text-lg']"
                routerLink="{{'/app/'+ secondButtonRoute}}">
                {{secondButtonText}}
            </button>
            }
        </div>
    </div>

</div>