<form [formGroup]="invoiceForm" class="p-10 flex flex-col gap-6">
  <div>
    <div class="border-b-2 mb-4 border-zorba">
      <h2 class="text-bisque font-bold">Generalidades</h2>
    </div>
    <div class="flex gap-4 flex-wrap">
      <div class="flex flex-col gap-2 flex-1">
        <label class="text-bisque font-bold" for="type">Tipo<span class="text-burnt-umber">*</span></label>
        <select id="type" formControlName="type"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2.5 focus:outline-none focus:border-golden-glow"
          (change)="changeType($event)">
          <option [value]="''" disabled selected>Selecciona un tipo</option>
          <option value="ingreso">Ingreso</option>
          <option value="gasto">Gasto</option>
        </select>
        @if (invoiceForm.controls['type'].invalid && (invoiceForm.controls['type'].dirty ||
        invoiceForm.controls['type'].touched)) {
        <div class="text-burnt-umber text-sm">El tipo es obligatorio.</div>
        }
      </div>

      <div class="flex flex-col gap-2 flex-1">
        <label class="text-bisque font-bold" for="issueDate">Fecha<span class="text-burnt-umber">*</span></label>
        <input id="issueDate" formControlName="issueDate" type="date"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow" />
        @if (invoiceForm.controls['issueDate'].invalid && (invoiceForm.controls['issueDate'].dirty ||
        invoiceForm.controls['issueDate'].touched)) {
        <div class="text-burnt-umber text-sm">La fecha es obligatoria.</div>
        }
      </div>
    </div>
  </div>

  <div class="flex gap-4 flex-wrap">
    <div class="flex flex-col gap-2 flex-1">
      <label class="text-bisque font-bold" for="consecutive">Consecutivo<span class="text-burnt-umber">*</span></label>
      <input id="consecutive" formControlName="consecutive" type="number"
        class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
        placeholder="1205262060456206" />
      @if (invoiceForm.controls['consecutive'].invalid && (invoiceForm.controls['consecutive'].dirty ||
      invoiceForm.controls['consecutive'].touched)) {
      <div class="text-burnt-umber text-sm">El consecutivo es obligatorio.</div>
      }
    </div>

    <div class="flex flex-col gap-2 flex-1">
      <label class="text-bisque font-bold" for="key">Clave<span class="text-burnt-umber">*</span></label>
      <input id="key" formControlName="key" type="number"
        class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
        placeholder="Clave" />
      @if (invoiceForm.controls['key'].invalid && (invoiceForm.controls['key'].dirty ||
      invoiceForm.controls['key'].touched)) {
      <div class="text-burnt-umber text-sm">La clave es obligatoria.</div>
      }
    </div>
  </div>

  <div>
    <div class="border-b-2 mb-4 border-zorba">
      <h2 class="text-bisque font-bold">Datos del @if(this.typeInvoice === "ingreso") {cliente} @else {proveedor}</h2>
    </div>
    <div class="flex gap-4 flex-wrap">
      <div class="flex flex-col gap-2 flex-1">
        <label class="text-bisque font-bold" for="identification">Cédula<span class="text-burnt-umber">*</span></label>
        <input id="identification" formControlName="identification" type="text"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
          placeholder="Cédula" />
        @if (invoiceForm.controls['identification'].invalid && (invoiceForm.controls['identification'].dirty ||
        invoiceForm.controls['identification'].touched)) {
        <div class="text-burnt-umber text-sm">La identificación es obligatoria.</div>
        }
      </div>

      <div class="flex flex-col gap-2 flex-1">
        <label class="text-bisque font-bold" for="name">Nombre<span class="text-burnt-umber">*</span></label>
        <input id="name" formControlName="name" type="text"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
          placeholder="Nombre" />
        @if (invoiceForm.controls['name'].invalid && (invoiceForm.controls['name'].dirty ||
        invoiceForm.controls['name'].touched)) {
        <div class="text-burnt-umber text-sm">El nombre es obligatorio.</div>
        }
      </div>
    </div>
  </div>

  <div class="flex gap-4 flex-wrap">
    <div class="flex flex-col gap-2 flex-1">
      <label class="text-bisque font-bold" for="lastName">Apellido<span class="text-burnt-umber">*</span></label>
      <input id="lastName" formControlName="lastName" type="text"
        class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
        placeholder="Apellido" />
      @if (invoiceForm.controls['lastName'].invalid && (invoiceForm.controls['lastName'].dirty ||
      invoiceForm.controls['lastName'].touched)) {
      <div class="text-burnt-umber text-sm">El apellido es obligatorio.</div>
      }
    </div>

    <div class="flex flex-col gap-2 flex-1">
      <label class="text-bisque font-bold" for="email">Correo electrónico<span class="text-burnt-umber">*</span></label>
      <input id="email" formControlName="email" type="text"
        class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
        placeholder="Correo" />
      @if (invoiceForm.controls['email'].invalid && (invoiceForm.controls['email'].dirty ||
      invoiceForm.controls['email'].touched)) {
      <div class="text-burnt-umber text-sm">El correo electrónico es obligatorio.</div>
      }
    </div>
  </div>

  <form [formGroup]="detailForm" class="flex flex-col gap-6">
    <div>
      <div class="border-b-2 mb-4 border-zorba">
        <h2 class="text-bisque font-bold">Detalles</h2>
      </div>
      @if(details && details.length > 0) {
      <div class="flex gap-4 flex-wrap mb-4">
        @for(detail of details; track $index) {
        <app-card-detail [cabys]="detail.cabys || '0'" [quantity]="detail.quantity || 0" [unit]="detail.unit || ''"
          [unitPrice]="detail.unitPrice || 0" [discount]="detail.discount || 0" [tax]="detail.tax || 0"
          [taxAmount]="detail.taxAmount || 0" [category]="detail.category || ''" [total]="detail.total || 0"
          [description]="detail.description || ''" [index]="$index" (editDetail)="editDetailItem($event)"
          (deleteDetail)="deleteDetailItem($event)">
        </app-card-detail>
        }
      </div>
      }
      <div class="flex gap-4 flex-wrap">
        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="cabys">Cabys<span class="text-burnt-umber">*</span></label>
          <input id="cabys" formControlName="cabys" type="text"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Cabys" />
          @if (detailForm.controls['cabys'].invalid && (detailForm.controls['cabys'].dirty ||
          detailForm.controls['cabys'].touched)) {
          <div class="text-burnt-umber text-sm">El cabys es obligatorio.</div>
          }
        </div>

        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="quantity">Cantidad<span class="text-burnt-umber">*</span></label>
          <input id="quantity" formControlName="quantity" type="number"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Cantidad" (change)="calculateTotal()" />
          @if (detailForm.controls['quantity'].invalid && (detailForm.controls['quantity'].dirty ||
          detailForm.controls['quantity'].touched)) {
          <div class="text-burnt-umber text-sm">La cantidad es obligatorio.</div>
          }
        </div>
      </div>
    </div>

    <div class="flex gap-4 flex-wrap">
      <div class="flex flex-col gap-2 flex-1">
        <label class="text-bisque font-bold" for="unit">Unidad<span class="text-burnt-umber">*</span></label>
        <input id="unit" formControlName="unit" type="text"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
          placeholder="Unidad" (change)="calculateTotal()" />
        @if (detailForm.controls['unit'].invalid && (detailForm.controls['unit'].dirty ||
        detailForm.controls['unit'].touched)) {
        <div class="text-burnt-umber text-sm">La unidad es obligatoria.</div>
        }
      </div>

      <div class="flex flex-col gap-2 flex-1">
        <label class="text-bisque font-bold" for="unitPrice">Precio de unidad<span
            class="text-burnt-umber">*</span></label>
        <input id="unitPrice" formControlName="unitPrice" type="number"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
          placeholder="Precio de unidad" (change)="calculateTotal()" />
        @if (detailForm.controls['unitPrice'].invalid && (detailForm.controls['unitPrice'].dirty ||
        detailForm.controls['unitPrice'].touched)) {
        <div class="text-burnt-umber text-sm">El precio de unidad es obligatorio.</div>
        }
      </div>
    </div>

    <div class="flex gap-4 flex-wrap">
      <div class="flex flex-col gap-2 flex-1">
        <label class="text-bisque font-bold" for="discount">Descuento<span class="text-burnt-umber">*</span></label>
        <input id="discount" formControlName="discount" type="number"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
          placeholder="Descuento" (change)="calculateTotal()" />
        @if (detailForm.controls['discount'].invalid && (detailForm.controls['discount'].dirty ||
        detailForm.controls['discount'].touched)) {
        <div class="text-burnt-umber text-sm">El descuento es obligatorio.</div>
        }
      </div>

      <div class="flex flex-col gap-2 flex-1">
        <label class="text-bisque font-bold" for="tax">Impuesto<span class="text-burnt-umber">*</span></label>
        <select id="tax" formControlName="tax"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2.5 focus:outline-none focus:border-golden-glow"
          (change)="calculateTotal()">
          <option [value]="''" disabled selected>Selecciona un impuesto</option>
          <option value="13">13%</option>
          <option value="10">10%</option>
          <option value="4">4%</option>
          <option value="2">2%</option>
          <option value="1">1%</option>
          <option value="0">Exento</option>
        </select>

        @if (detailForm.controls['tax'].invalid && (detailForm.controls['tax'].dirty ||
        detailForm.controls['tax'].touched)) {
        <div class="text-burnt-umber text-sm">El impuesto es obligatorio.</div>
        }
      </div>
    </div>


    <div class="flex gap-4 flex-wrap">
      <div class="flex flex-col gap-2 flex-1 min-w-[200px]">
        <label class="text-bisque font-bold" for="category">Categoría<span class="text-burnt-umber">*</span></label>
        <select id="category" formControlName="category"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2.5 focus:outline-none focus:border-golden-glow">
          <option [value]="''" disabled selected>Selecciona una categoría</option>
          @for (key of keyCategories; track $index) {
          <option [value]="key">{{ categories[key] }}</option>
          }
        </select>
        @if (detailForm.controls['category'].invalid && (detailForm.controls['category'].dirty ||
        detailForm.controls['category'].touched)) {
        <div class="text-burnt-umber text-sm">La categoría es obligatoria.</div>
        }
      </div>

      <div class="flex flex-col gap-2 flex-1 min-w-[200px]">
        <label class="text-bisque font-bold" for="total">Total<span class="text-burnt-umber">*</span></label>
        <input id="total" formControlName="total" type="number"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
          placeholder="Total" />
        @if (detailForm.controls['total'].invalid && (detailForm.controls['total'].dirty ||
        detailForm.controls['total'].touched)) {
        <div class="text-burnt-umber text-sm">El total es obligatorio.</div>
        }
      </div>
    </div>

    <div class="flex flex-col gap-2 flex-wrap">
      <label class="text-bisque font-bold" for="description">Descripción<span class="text-burnt-umber">*</span></label>
      <textarea id="description" formControlName="description" type="text"
        class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow resize-none"
        placeholder="Descripción"></textarea>
      @if (detailForm.controls['description'].invalid && (detailForm.controls['description'].dirty ||
      detailForm.controls['description'].touched)) {
      <div class="text-burnt-umber text-sm">La descripción es obligatoria.</div>
      }
    </div>

    <div class="flex gap-4 justify-center mt-2">
      <button (click)="callSaveDetail()" [disabled]="detailForm.invalid" type="button"
        class="bg-flamenco text-bisque font-bold rounded px-8 py-2 hover:bg-golden-glow hover:text-flamenco transition-colors disabled:opacity-80 disabled:cursor-not-allowed disabled:bg-burnt-umber disabled:text-bisque">
        Agregar detalle
      </button>
    </div>

  </form>

  <div class="flex gap-4 justify-center">
    <button (click)="callSave()" [disabled]="invoiceForm.invalid || this.details.length == 0" ctype="button"
      class="bg-flamenco text-bisque font-bold rounded px-8 py-2 hover:bg-golden-glow hover:text-flamenco transition-colors disabled:opacity-80 disabled:cursor-not-allowed disabled:bg-burnt-umber disabled:text-bisque">
      Registrar
    </button>
    <button type="button"
      class="bg-golden-glow text-crater-brown font-bold rounded px-8 py-2 hover:bg-bisque transition-colors"
      (click)="callCancel()">
      Cancelar
    </button>
  </div>

</form>

@if (showDeleteModal) {
<div class="fixed inset-0 z-30 flex items-center justify-center bg-black bg-opacity-30">
  <div class="bg-crater-brown rounded-md p-6 shadow-lg max-w-md w-full text-center">
    <span class="material-symbols-rounded text-bisque text-5xl mb-4">
      delete
    </span>
    <h2 class="text-bisque font-bold text-xl mb-4">Confirmar eliminación</h2>
    <p class="text-bisque mb-2">
      ¿Estás seguro de que quieres eliminar este detalle de la factura?
    </p>
    <p class="text-bisque/80 text-sm mb-6">
      Esta acción no se puede deshacer.
    </p>
    <div class="flex justify-center space-x-4">
      <button (click)="confirmDelete()"
        class="bg-flamenco text-bisque py-1 px-4 rounded font-bold hover:bg-golden-glow transition-colors">
        Eliminar
      </button>
      <button (click)="hideDeleteModal()"
        class="bg-golden-glow text-crater-brown py-1 px-4 rounded font-bold hover:bg-bisque transition-colors">
        Cancelar
      </button>
    </div>
  </div>
</div>
}