<div class="min-h-screen flex items-center justify-center">
  <div class="w-full max-w-3xl p-4">
    <h1 class="text-crater-brown text-3xl font-bold mb-8 mt-8 text-center">
      Registro Factura Manual
    </h1>
    

    <form [formGroup]="form" class="bg-crater-brown rounded-2xl p-10 flex flex-col gap-6 shadow-lg">
      <div class="flex flex-col gap-2">
        <label class="text-bisque font-bold" for="consecutive">Consecutivo</label>
        <input id="consecutive" formControlName="consecutive" type="number"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
          placeholder="1205262060456206" />
        @if (form.controls['consecutive'].invalid && (form.controls['consecutive'].dirty || form.controls['consecutive'].touched)) {
          <div class="text-red-500 text-sm">El consecutivo es obligatorio y debe ser un número válido.</div>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-bisque font-bold" for="code">Code</label>
        <input id="code" formControlName="code" type="number"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow" />
        @if (form.controls['code'].invalid && (form.controls['code'].dirty || form.controls['code'].touched)) {
          <div class="text-red-500 text-sm">El código es obligatorio.</div>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-bisque font-bold" for="issueDate">Fecha</label>
        <input id="issueDate" formControlName="issueDate" type="date"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow" />
        @if (form.controls['issueDate'].invalid && (form.controls['issueDate'].dirty || form.controls['issueDate'].touched)) {
          <div class="text-red-500 text-sm">La fecha es obligatoria.</div>
        }
      </div>

      <div class="flex gap-4 flex-wrap">
        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="name">Nombre</label>
          <input id="name" formControlName="name" type="text"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Nombre" />
          @if (form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)) {
            <div class="text-red-500 text-sm">El nombre es obligatorio.</div>
          }
        </div>

        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="identificación">Cédula</label>
          <input id="identificación" formControlName="identificación" type="text"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Cédula" />
          @if (form.controls['identificación'].invalid && (form.controls['identificación'].dirty || form.controls['identificación'].touched)) {
            <div class="text-red-500 text-sm">La identificación es obligatoria.</div>
          }
        </div>
      </div>

      <div class="flex gap-4 flex-wrap">
        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="lastname">Apellido</label>
          <input id="lastname" formControlName="lastname" type="text"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Apellido" />
          @if (form.controls['lastname'].invalid && (form.controls['lastname'].dirty || form.controls['lastname'].touched)) {
            <div class="text-red-500 text-sm">El apellido es obligatorio.</div>
          }
        </div>

        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="email">Correo electrónico</label>
          <input id="email" formControlName="email" type="text"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Correo" />
          @if (form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)) {
            <div class="text-red-500 text-sm">El correo electrónico es obligatorio.</div>
          }
        </div>
      </div>

      <div class="flex gap-4 flex-wrap">
        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="detailCode">Código detalle</label>
          <input id="detailCode" formControlName="detailCode" type="text"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Código" />
          @if (form.controls['detailCode'].invalid && (form.controls['detailCode'].dirty || form.controls['detailCode'].touched)) {
            <div class="text-red-500 text-sm">El código detalle es obligatorio.</div>
          }
        </div>

        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="detailDescription">Descripción</label>
          <input id="detailDescription" formControlName="detailDescription" type="text"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Descripción" />
          @if (form.controls['detailDescription'].invalid && (form.controls['detailDescription'].dirty || form.controls['detailDescription'].touched)) {
            <div class="text-red-500 text-sm">La descripción es obligatoria.</div>
          }
        </div>

        <div class="flex flex-col gap-2 flex-1">
          <label class="text-bisque font-bold" for="quantity">Cantidad</label>
          <input id="quantity" formControlName="quantity" type="text"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba rounded p-2 focus:outline-none focus:border-golden-glow"
            placeholder="Cantidad" />
          @if (form.controls['quantity'].invalid && (form.controls['quantity'].dirty || form.controls['quantity'].touched)) {
            <div class="text-red-500 text-sm">La cantidad es obligatoria.</div>
          }
        </div>
      </div>

      
      <div class="flex gap-4 justify-end mt-4">
        <button (click)="callSave()" [disabled]="form.invalid" type="button"
          class="bg-flamenco text-bisque font-bold rounded px-8 py-2 hover:bg-flamenco/80 transition-colors">
          Registrar
        </button>
        <button type="button"
          class="bg-golden-glow text-crater-brown font-bold rounded px-8 py-2 hover:bg-golden-glow/80 transition-colors">
          Cancelar
        </button>
      
      </div>
      
    </form>
    
  </div> 
</div>


