<div class="w-full">
    <div class="flex flex-col w-full space-y-10">
        <div class="flex flex-col space-y-4 w-full">
            <h1 class="text-left text-crater-brown border-b-2 pb-2 border-crater-brown text-2xl font-bold">
                D-101 - Declaración Jurada del Impuesto sobre la Renta
            </h1>

            <div class="flex flex-row items-center w-full">
                <p class="w-40 text-crater-brown">02 - Período</p>
                <span
                    class="flex-grow px-4 py-3 bg-zorba rounded-md text-left text-crater-brown">{{simulationPeriod}}</span>
            </div>

            <div class="flex flex-row items-center w-full">
                <p class="w-40 text-crater-brown">04 - Cédula</p>
                <span
                    class="flex-grow px-4 py-3 bg-zorba rounded-md text-left text-crater-brown">{{simulationIdentification}}</span>
            </div>

            <div class="flex flex-row items-center w-full">
                <p class="w-40 text-crater-brown">06 - Nombre</p>
                <span
                    class="flex-grow px-4 py-3 bg-zorba rounded-md text-left text-crater-brown">{{simulationName}}</span>
            </div>
        </div>

        <!-- I. Activos y pasivos -->
        <app-section-isr-simulation [sectionTitle]="'I. Activos y pasivos'" [items]="activesAndLiabilitiesItems" />

        <!-- II. Ingresos y deducciones -->
        <app-section-isr-simulation [sectionTitle]="'II. Ingresos y deducciones'" [items]="incomesAndExpensesItems" />

        <!-- III. Costos, gastos y deducciones -->
        <app-section-isr-simulation [sectionTitle]="'III. Costos, gastos y deducciones'"
            [items]="costsAndDeductionsItems" />

        <!-- IV. Base imponible -->
        <app-section-isr-simulation [sectionTitle]="'IV. Base imponible'" [items]="taxableBaseItems" />

        <!-- V. Créditos -->
        <app-section-isr-simulation [sectionTitle]="'V. Créditos'" [items]="creditsItems" />

        <!-- VI. Liquidación deuda tributaria -->
        <app-section-isr-simulation [sectionTitle]="'VI. Liquidación deuda tributaria'"
            [items]="taxDebtSettlementItems" />
    </div>
</div>