<form [formGroup]="userForm">
  <div class="flex items-center justify-center">
    <div class="bg-crater-brown rounded-md p-8 w-full max-w-3xl min-w-[650px]">
      <h1 class="text-bisque text-xl font-bold mb-10 text-center">Perfil del usuario</h1>

      <div class="grid grid-cols-2 gap-10 gap-y-6">
        <div class="flex flex-col">
          <label class="mb-2 text-bisque font-bold" for="name">Nombre<span class="text-burnt-umber">*</span></label>
          @if (isEditing) {
          <input formControlName="name" type="text" placeholder="Nombre"
            class="w-full p-2 rounded-md border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba font-bold focus:outline-none focus:border-golden-glow" />
          <div class="min-h-[1rem]">
            @if (userForm.get('name')?.invalid && userForm.get('name')?.touched) {
            <p class="text-sm text-burnt-umber">Este campo es obligatorio</p>
            }
          </div>
          }
          @if (!isEditing) {
          <p class="text-bisque font-bold border-b border-zorba pb-2">
            {{ profileService.user$().name?.trim() || "No disponible" }}
          </p>
          }
        </div>

        <div class="flex flex-col">
          <label class="mb-2 text-bisque font-bold" for="lastname">Primer apellido<span
              class="text-burnt-umber">*</span></label>
          @if (isEditing) {
          <input formControlName="lastname" type="text" placeholder="Primer apellido"
            class="w-full p-2 rounded-md border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba font-bold focus:outline-none focus:border-golden-glow" />
          <div class="min-h-[1rem]">
            @if (userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched) {
            <p class="text-sm text-burnt-umber">Este campo es obligatorio</p>
            }
          </div>
          }
          @if (!isEditing) {
          <p class="text-bisque font-bold border-b border-zorba pb-2">
            {{ profileService.user$().lastname?.trim() || "No disponible" }}
          </p>
          }
        </div>

        <div class="flex flex-col">
          <label class="mb-2 text-bisque font-bold" for="lastname2">Segundo apellido</label>
          @if (isEditing) {
          <input formControlName="lastname2" type="text" placeholder="Segundo apellido"
            class="w-full p-2 rounded-md border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba font-bold focus:outline-none focus:border-golden-glow" />
          }
          @if (!isEditing) {
          <p class="text-bisque font-bold border-b border-zorba pb-2">
            {{ profileService.user$().lastname2?.trim() || "No disponible" }}
          </p>
          }
        </div>

        <div class="flex flex-col">
          <label class="mb-2 text-bisque font-bold" for="identification">Cédula<span
              class="text-burnt-umber">*</span></label>
          @if (isEditing) {
          <input formControlName="identification" type="text" placeholder="Cédula"
            class="w-full p-2 rounded-md border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba font-bold focus:outline-none focus:border-golden-glow" />
          <div class="min-h-[1rem]">
            @if (userForm.get('identification')?.errors?.['required'] && userForm.get('identification')?.touched) {
            <p class="text-sm text-burnt-umber">Este campo es obligatorio</p>
            }
            @if (userForm.get('identification')?.errors?.['minlength'] ||
            userForm.get('identification')?.errors?.['maxlength']) {
            <p class="text-sm text-burnt-umber">Cédula inválida</p>
            }
          </div>
          }
          @if (!isEditing) {
          <p class="text-bisque font-bold border-b border-zorba pb-2">
            {{ profileService.user$().identification?.trim() || "No disponible" }}
          </p>
          }
        </div>

        <div class="flex flex-col">
          <label class="mb-2 text-bisque font-bold" for="birthDate">Fecha de nacimiento<span
              class="text-burnt-umber">*</span></label>
          @if (isEditing) {
          <input formControlName="birthDate" type="date" placeholder="Fecha de nacimiento"
            class="w-full p-2 rounded-md border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba font-bold focus:outline-none focus:border-golden-glow" />
          <div class="min-h-[1rem]">
            @if (userForm.get('birthDate')?.invalid && userForm.get('birthDate')?.touched) {
            <p class="text-sm text-burnt-umber">Este campo es obligatorio</p>
            }
          </div>
          }
          @if (!isEditing) {
          <p class="text-bisque font-bold border-b border-zorba pb-2">
            {{ profileService.user$().birthDate?.trim() || "No disponible" }}
          </p>
          }
        </div>

        <div class="flex flex-col">
          <label class="mb-2 text-bisque font-bold" for="email">Correo electrónico<span
              class="text-burnt-umber">*</span></label>
          @if (isEditing) {
          <input formControlName="email" type="text" placeholder="Correo electrónico"
            class="w-full p-2 rounded-md border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba font-bold focus:outline-none focus:border-golden-glow" />
          <div class="min-h-[1rem]">
            @if (userForm.get('email')?.errors?.['required'] && userForm.get('email')?.touched) {
            <p class="text-sm text-burnt-umber">Este campo es obligatorio</p>
            }
            @if (userForm.get('email')?.errors?.['pattern']) {
            <p class="text-sm text-burnt-umber">Correo electrónico inválido</p>
            }
          </div>
          }
          @if (!isEditing) {
          <p class="text-bisque font-bold border-b border-zorba pb-2">
            {{ profileService.user$().email?.trim() || "No disponible" }}
          </p>
          }
        </div>
      </div>

      <div class="flex justify-center items-center gap-4 mt-10">
        <button *ngIf="!isEditing" type="button" (click)="updateUser(profileService.user$())"
          class="px-4 py-2 font-bold rounded-md text-bisque bg-flamenco hover:bg-golden-glow hover:text-flamenco transition-colors">
          Editar
        </button>

        <div *ngIf="!isEditing"
          class="px-4 py-2 font-bold rounded-md text-bisque bg-flamenco hover:bg-golden-glow hover:text-flamenco transition-colors">
          <a routerLink="/app/reset-password">Cambiar contraseña</a>
        </div>

        <button *ngIf="isEditing" type="button" (click)="saveChanges(userForm.value)"
          [disabled]="userForm.invalid || !userForm.dirty"
          class="px-4 py-2 font-bold rounded-md text-bisque bg-flamenco hover:bg-golden-glow hover:text-flamenco transition-colors disabled:bg-flamenco disabled:text-bisque disabled:opacity-80 disabled:cursor-not-allowed">
          Guardar
        </button>

        <button *ngIf="isEditing" type="button" (click)="cancelChanges()"
          class="px-4 py-2 font-bold rounded-md text-crater-brown bg-golden-glow hover:bg-bisque transition-colors">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</form>