<div class="h-screen w-screen flex justify-center items-center">
  <div class="w-fit h-fit text-center">
    <span class="material-icons-outlined text-burnt-umber text-9xl">warning</span>
    <h1 class="font-black text-burnt-umber text-4xl">Acceso denegado</h1>
    <p class="text-2xl text-crater-brown font-semibold pt-3">
      No tienes permiso para ver esta página.
      <br>
      Por favor, revisa tus credenciales y intenta de nuevo.
    </p>
    <div class="pt-5">
      <a href="/app/home" class="bg-burnt-umber rounded p-2 text-1xl font-semibold text-bisque">
        Volver
      </a>
    </div>

  </div>
</div>