@defer {
<div class="p-4">
    <div class="pb-2 justify-between flex flex-row items-end">
        <h1 class="text-lg text-crater-brown font-bold">{{ title }}</h1>
        <div class="flex items-center bg-crater-brown rounded-md px-2 py-1">
            <span class="material-symbols-rounded text-2xl pr-2 text-bisque">
                search
            </span>
            <input (keyup)="search($event)" type="text"
                class="bg-crater-brown text-bisque placeholder:text-bisque text-base font-bold w-full"
                placeholder="Buscar por tipo">
        </div>
    </div>

    <div>
        <app-simulation-list [simulations]="paginatedSimulations()" (generatePdf)="downloadPdf($event)"
            (generateCsv)="downloadCsv($event)">
        </app-simulation-list>

        @if(allSimulations().length > 0) {
        <ng-container>
            <app-pagination [page]="currentPage()" [totalPages]="totalPages()" [totalElements]="allSimulations().length"
                [pageSize]="pageSize" [customCall]="true" (pageChange)="onPageChange($event)">
            </app-pagination>
        </ng-container>
        }
    </div>
</div>
} @loading (minimum 1.5s){
<app-loader></app-loader>
}