<div class="flex flex-col space-y-4 w-full">
    <h1 class="text-left text-crater-brown border-b-2 pb-2 border-crater-brown text-2xl font-bold">
        V. Créditos
    </h1>
    <div class="flex flex-row items-center w-full justify-between">
        <p class="w-auto text-crater-brown">
            58 - Crédito familiar (solo personas físicas)
        </p>
        <span class="w-60 px-4 py-3 rounded-md text-right ml-10 border-2 border-crater-brown text-crater-brown">
            {{ familyCredit }}
        </span>
    </div>
    <div class="flex flex-row items-center w-full justify-between">
        <p class="w-auto text-crater-brown">
            59 - Otros créditos
        </p>
        <span class="w-60 px-4 py-3 rounded-md text-right ml-10 border-2 border-crater-brown text-crater-brown">
            {{ otherCredits }}
        </span>
    </div>
    <div class="flex flex-row items-center w-full justify-between">
        <p class="w-auto text-crater-brown">
            60 - Impuesto del periodo
        </p>
        <span class="w-60 px-4 py-3 bg-zorba rounded-md text-right ml-10 text-crater-brown">
            {{ periodTax }}
        </span>
    </div>
    <div class="flex flex-row items-center w-full justify-between">
        <p class="w-auto text-crater-brown">
            61 - Retenciones 2%
        </p>
        <span class="w-60 px-4 py-3 rounded-md text-right ml-10 border-2 border-crater-brown text-crater-brown">
            {{ twoPercentWithholdings }}
        </span>
    </div>
    <div class="flex flex-row items-center w-full justify-between">
        <p class="w-auto text-crater-brown">
            62 - Otras retenciones
        </p>
        <span class="w-60 px-4 py-3 rounded-md text-right ml-10 border-2 border-crater-brown text-crater-brown">
            {{ otherWithholdings }}
        </span>
    </div>
    <div class="flex flex-row items-center w-full justify-between">
        <p class="w-auto text-crater-brown">
            63 - Pagos parciales
        </p>
        <span class="w-60 px-4 py-3 rounded-md text-right ml-10 border-2 border-crater-brown text-crater-brown">
            {{ partialPayments }}
        </span>
    </div>
    <div class="flex flex-row items-center w-full justify-between">
        <p class="w-auto text-crater-brown">
            64 - Total impuesto neto
        </p>
        <span class="w-60 px-4 py-3 rounded-md text-right ml-10 border-2 border-crater-brown text-crater-brown">
            {{ totalNetTax }}
        </span>
    </div>
</div>