<div class="min-h-screen flex">
  <div class="w-1/2 flex flex-col justify-center items-center bg-crater-brown px-16 py-8">
    <div class="w-full max-w-md">
      <a routerLink="">
        <img class="absolute top-6 left-8 w-32" src="../../../../../assets/img/general/tributico.png"
          alt="Logo de la aplición web TribuTico" loading="eager" />
      </a>

      <h2 class="text-bisque text-2xl font-bold mt-8 text-center mb-8">Bienvenido</h2>
      <p class="text-zorba mb-8 text-center">Ingresa tus credenciales para acceder a tu cuenta</p>
      <form (ngSubmit)="handleLogin($event)" autocomplete="off" #frm="ngForm" class="flex flex-col space-y-4">
        <label for="email" class="text-bisque font-semibold">Correo electrónico</label>
        <input #email="ngModel" type="text"
          class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba items-center rounded-md p-2 focus:outline-none focus:border-golden-glow"
          id="email" name="email" placeholder="nombre@correo.com" [(ngModel)]="loginForm.email" [ngClass]="{
            'border-flamenco': email.invalid && email.touched,
            'border-golden-glow': email.valid && email.touched
          }" required />
        <div *ngIf="email.invalid && email.touched" class="text-burnt-umber text-sm">
          El correo electrónico es obligatorio.
        </div>

        <label for="password" class="text-bisque font-semibold">Contraseña</label>
        <div class="relative">
          <input #password="ngModel" [type]="showPassword ? 'text' : 'password'"
            class="border-2 border-zorba bg-crater-brown text-bisque placeholder:text-zorba items-center rounded-md p-2 pr-10 focus:outline-none focus:border-golden-glow w-full"
            id="password" name="password" placeholder="********" [(ngModel)]="loginForm.password" [ngClass]="{
              'border-flamenco': password.invalid && password.touched,
              'border-golden-glow': password.valid && password.touched
            }" required />
          <button type="button" class="absolute right-2 top-1/2 -translate-y-1/2 mt-[2px] text-zorba"
            (click)="showPassword = !showPassword" tabindex="-1">
            <span class="material-symbols-rounded select-none">
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </span>
          </button>
        </div>
        <div *ngIf="password.invalid && password.touched" class="text-burnt-umber text-sm">
          La contraseña es obligatoria.
        </div>

        <button
          class="bg-flamenco text-bisque font-semibold rounded-md py-2 mt-4 hover:bg-golden-glow hover:text-flamenco transition-colors"
          type="submit">
          Iniciar sesión
        </button>
      </form>
      <div class="flex items-center my-6">
        <hr class="flex-grow border-zorba" />
        <span class="mx-2 text-zorba">O conéctate con</span>
        <hr class="flex-grow border-zorba" />
      </div>
      <app-google-auth></app-google-auth>
      <p class="text-zorba text-center mt-4">
        ¿No eres miembro?
        <a href="/signup" class="text-flamenco font-semibold hover:underline">Regístrate</a>
      </p>
      <div *ngIf="loginError" class="text-flamenco text-center font-semibold mt-2">
        {{ loginError }}
      </div>
    </div>
  </div>
  <div class="w-1/2 flex flex-col justify-center items-center bg-isabelline">
    <img src="../../../../assets/img/login/login.png"
      alt="Dos chicos y una chica saludando para dar la bienvenida a TribuTico" class="w-50 mb-8" />
    <p class="text-crater-brown text-center font-semibold px-8">
      Simplifica la gestión de tus impuestos y mantén el control de tus finanzas en un solo lugar. Ingresa para
      comenzar.
    </p>
  </div>
</div>

<ng-template #expiredTokenModal>
  <app-modal (callConfirmationMethod)="hideModal()" [confirmAction]="'Cerrar'" [title]="'¡Ups! Tu sesión ha expirado.'"
    [textCenter]="true" [icon]="'report'">
    <p class="text-bisque text-base max-w-lg">
      Por favor, inicia sesión nuevamente para continuar.
    </p>
  </app-modal>
</ng-template>

<ng-template #blockedUserModal>
  <app-modal (callConfirmationMethod)="hideModal()" [confirmAction]="'Cerrar'"
    [title]="'Cuenta bloqueada por seguridad.'" [textCenter]="true" [icon]="'dangerous'">
    <p class="text-bisque text-base max-w-lg">
      Has excedido el número máximo de intentos fallidos (3) para ingresar tu contraseña. Por favor, contacta al
      administrador para restablecer el acceso.
    </p>
  </app-modal>
</ng-template>