<div class="flex flex-col justify-center items-center max-w-screen-2xl space-y-2">
    <div class="flex flex-row justify-between items-center w-full px-4">
        <h1 class="text-3xl font-bold text-crater-brown">Cargar facturas</h1>
        <button
            class="bg-zorba text-crater-brown px-4 py-2 rounded-md flex justify-center items-center disabled:opacity-80 disabled:cursor-not-allowed hover:bg-crater-brown hover:text-bisque disabled:bg-zorba disabled:text-crater-brown transition-colors"
            (click)="hideImportInvoices()" [disabled]="ocrService.isLoading$()">
            {{importInvoicesText}}
            <span class="material-symbols-rounded ml-2 hover:text-bisque disabled:text-crater-brown transition-colors">
                {{importInvoicesIcon}}
            </span>
        </button>
    </div>

    <!-- Estructura principal -->
    <div class="w-full h-full px-4"
        [ngClass]="hideImportInvoicesVar ? 'grid grid-cols-2 gap-4' : 'flex justify-center items-center'">

        <!-- Columna izquierda: el formulario SIEMPRE está -->
        <div class="p-6 rounded-md h-full w-full flex justify-center items-center bg-crater-brown"
            [ngClass]="hideImportInvoicesVar ? '' : 'max-w-4xl'">
            <app-manual-invoices-form [invoiceForm]="invoiceForm" [detailForm]="detailForm"
                [responseScan]="combinedResponse" (callResetScanMethod)="resetScanResponse()"
                (callSavedMethod)="saveInvoice($event)" />
        </div>

        <!-- Columna derecha: sólo si se está importando -->
        @if(hideImportInvoicesVar) {
        <div class="p-6 rounded-md h-full w-full flex flex-col justify-center items-center bg-crater-brown">

            @if(ocrService.isLoading$()) {
            <app-llama-loader></app-llama-loader>
            } @else {
            <div class="flex items-center justify-between w-full">
                <h2 class="text-2xl font-bold text-bisque">Escanear factura</h2>
                <label for="Toggle3"
                    class="inline-flex items-center rounded-md cursor-pointer font-bold text-crater-brown"
                    (change)="changeType(type)">
                    <input id="Toggle3" type="checkbox" class="hidden peer">
                    <span class="px-4 py-2 rounded-l-md dark:bg-bisque peer-checked:dark:bg-zorba">Ingreso</span>
                    <span class="px-4 py-2 rounded-r-md dark:bg-zorba peer-checked:dark:bg-bisque">Gasto</span>
                </label>
            </div>
            }
            <app-input-file-form [ngClass]="[ocrService.isLoading$() ? '' : 'h-full w-full']"
                [isLoading]="ocrService.isLoading$" (callScanMethod)="ocrService.scanFile($event, type)"
                (callOpenModalMethod)="openModal()" />

        </div>
        }
    </div>
</div>

<ng-template #cancelSubscriptionModal>
    <app-modal (callConfirmationMethod)="cancelCurrentRequest()" (callCancelMethod)="hideModal()"
        [confirmAction]="'Confirmar'" [cancelAction]="'Cancelar'"
        [title]="'¿Seguro que quieres cancelar el escaneo actual?'" [textCenter]="true" [icon]="'warning'">
        <p class="text-bisque text-base max-w-lg">
            Al cancelar el escaneo, se perderá el progreso actual y deberás iniciarlo nuevamente.
        </p>
    </app-modal>
</ng-template>