<form [formGroup]="form" class="max-w-2xl mx-auto rounded-md bg-crater-brown p-8 text-bisque">
  <div>
    <h1 class="text-bisque text-xl font-bold">Cambiar contraseña</h1>
  </div>

    <div class="flex flex-col space-y-4 mt-5">
      <div class="w-full">
        <label class="block my-2 text-base font-bold text-bisque" for="currentPassword">Contraseña actual<span class="text-burnt-umber">*</span></label>
        <input id="currentPassword" formControlName="currentPassword" type="text"
          class="bg-crater-brown border-2 border-zorba text-bisque text-base rounded-md block w-full p-2 font-bold placeholder:text-zorba placeholder:font-bold"
          placeholder="Ingresa su contraseña actual">
        <div class="min-h-[1.5rem]">
          @if (form.controls['currentPassword'].invalid && (form.controls['currentPassword'].dirty || form.controls['currentPassword'].touched)) {
            <p class="text-burnt-umber">Este campo es obligatorio</p>
          }
        </div>
      </div>

      <div class="w-full">
        <label class="block my-2 text-base font-bold text-bisque" for="password">Contraseña<span class="text-burnt-umber">*</span></label>
        <input id="password" formControlName="password" type="showPassword ? 'text' : 'password'"
          class="bg-crater-brown border-2 border-zorba text-bisque text-base rounded-md block w-full p-2 font-bold placeholder:text-zorba placeholder:font-bold"
          placeholder="Ingresa su nueva contraseña">
        <div class="min-h-[1.5rem]">
          @if (form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)) {
            <p class="text-burnt-umber">Este campo es obligatorio</p>
          }
        </div>
      </div>

       <div class="w-full">
        <label class="block my-2 text-base font-bold text-bisque" for="confirmPassword">Confirmar contraseña<span class="text-burnt-umber">*</span></label>
        <input id="confirmPassword" formControlName="confirmPassword" type="text"
          class="bg-crater-brown border-2 border-zorba text-bisque text-base rounded-md block w-full p-2 font-bold placeholder:text-zorba placeholder:font-bold"
          placeholder="Confirme su nueva contraseña">
          <div class="min-h-[1.5rem]">
            @if(form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].dirty || form.controls['confirmPassword'].touched)){
            <p class="text-burnt-umber">Este campo es obligatorio</p>
            }
          <p *ngIf="passwordError" 
          class="text-burnt-umber text-center font-bold">
            {{ passwordError }}
        </p>
        </div>
      </div>
    </div>
    
    <div class="col-span-2 flex justify-center items-center w-full mt-4">
      <button 
        (click)="resetPassword($event)" 
        [disabled]="form.invalid"
        class="bg-flamenco text-bisque py-1 px-3 rounded-md cursor-pointer disabled:bg-flamenco disabled:opacity-80 disabled:cursor-not-allowed font-bold"
        type="button"
        >Guardar
      </button>

      <button 
        (click)="cancel()"
        class="bg-golden-glow text-crater-brown py-1 px-3 rounded-md cursor-pointer ml-2 font-bold"
        type="button"
        >
        Cancelar
      </button>
    </div>
</form>
